
$color-primary: #1D65A4;
$color-secondary: #B3644D;
$color-black: #231f20;

$color-gradient-start: $color-secondary;
$color-gradient-end: mix( $color-primary, $color-secondary, 75%);

$color-error: #B81A1A;
$color-success: #109B16;
$color-info: #10619B;
