
$color-primary: #3A914D;
$color-secondary: #6E4F9E;
$color-black: #231f20;

$color-whatsapp-message: #DCF8C6;

$color-gradient-start: $color-secondary;
$color-gradient-end: mix( $color-primary, $color-secondary, 75%);

$color-error: #B81A1A;
$color-success: #109B16;
$color-info: #10619B;
